# -------------------------
# Python backend
# -------------------------
backend/venv/
backend/.env
backend/data/

__pycache__/
*.pyc

# Logs
*.log

# HuggingFace cache
.cache/

# -------------------------
# React frontend
# -------------------------
frontend/node_modules/
frontend/dist/

# -------------------------
# macOS junk
# -------------------------
.DS_Store