# -------------------------
# Python backend
# -------------------------
backend/venv/
__pycache__/
*.pyc

# Secrets
backend/.env

# Generated data
*.csv
*.json
*.log

# -------------------------
# React frontend
# -------------------------
frontend/node_modules/
frontend/dist/

# -------------------------
# OS junk
# -------------------------
.DS_Store